@keyframes loading-status-anim {
    0%,
    100% {
        transform: scaleY(1);
        /* background: #03A9F4; */
    }
    16.67% {
        transform: scaleY(2.5);
        /* background: #FF5722; */
    }
    33.33% {
        transform: scaleY(1);
        /* background: #FF5252; */
    }
    50% {
        transform: scaleY(2.5);
        /* background: #E91E63; */
    }
    66.67% {
        transform: scaleY(1);
        /* background: #9C27B0; */
    }
    83.34% {
        transform: scaleY(2.5);
        /* background: #673AB7; */
    }
}

@keyframes playing-music-bar {
    0%,
    100% {
        /* transform: scaleY(1); */
        /* background: #03A9F4; */
        height: 13px;
    }
    16.67% {
        /* transform: scaleY(1.4); */
        /* background: #FF5722; */
        height: 10px;
    }
    33.33% {
        /* transform: scaleY(1); */
        /* background: #FF5252; */
        height: 12px;
    }
    50% {
        /* transform: scaleY(1.6); */
        /* background: #E91E63; */
        height: 7px;
    }
    66.67% {
        /* transform: scaleY(1); */
        /* background: #9C27B0; */
        height: 11px;
    }
    83.34% {
        /* transform: scaleY(1.5); */
        /* background: #673AB7; */
        height: 7px;
    }
}

@keyframes playing-music-bar-2 {
    0%,
    100% {
        /* transform: scaleY(1); */
        /* background: #03A9F4; */
        height: 15px;
    }
    16.67% {
        /* transform: scaleY(1.8); */
        /* background: #FF5722; */
        height: 8px;
    }
    33.33% {
        /* transform: scaleY(1); */
        /* background: #FF5252; */
        height: 13px;
    }
    50% {
        /* transform: scaleY(1.5); */
        /* background: #E91E63; */
        height: 15px;
    }
    66.67% {
        /* transform: scaleY(1); */
        /* background: #9C27B0; */
        height: 6px;
    }
    83.34% {
        /* transform: scaleY(1.2); */
        /* background: #673AB7; */
        height: 11px;
    }
}