@import "~bootstrap/dist/css/bootstrap.css";

@import "../vendors/google-fonts/google-fonts.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body.dark-theme {
  background: #3B4252;
}

#root {
  
}

.container-small {
  max-width: 600px;
  margin: 0 auto;
}

/* List of all colors from the Nord color palette */
.nord-color-palettes {
  color: #2E3440;
  color: #3B4252;
  color: #434C5E;
  color: #4C566A;

  color: #D8DEE9;
  color: #E5E9F0;
  color: #ECEFF4;

  color: #8FBCBB;
  color: #88C0D0;
  color: #81A1C1;
  color: #5E81AC;

  color: #BF616A;
  color: #D08770;
  color: #EBCB8B;
  color: #A3BE8C;
  color: #B48EAD;
}
