.asclient {
    padding: 15px 0 0 0;
    color: #eeeeee;
}

.asclient .form-inline {
    margin-bottom: 10px;
}

.asclient .form-group label {
    min-width: 100px;
}

.asclient .albums-selector {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}