.player {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 12px 10px 5px;
    background: linear-gradient(45deg, #151212 0%,#282a2f 100%);
    background: #222326;
    border-top: 1px solid #efefef;
    border-image: linear-gradient(to right, rgba(18,110,205,1) 0%, rgba(199,20,0,1) 100%);
    border-image-slice: 1;
}

.player .controls {
    text-align: center;
}

.player .controls button {
    background: none;
    border: 0;
}

.player .controls .btn-previous, .player .controls .btn-next {
    color: #9c0b8a;
}

.player .controls .btn-play {
    width: 40px;
    height: 40px;
    /* border: 1px solid #1272d6; */
    border-radius: 50%;
    /* border-image: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(199,20,0,1) 100%); */
    /* border-image-slice: 1; */
    color: #a0a0a0;
    background: linear-gradient(45deg, rgba(137,7,197,1) 0%, rgba(199,20,0,1) 100%);
}

.player .playing-song {
    margin-top: 8px;
    text-align: center;
    color: #aa0e5e;
    user-select: none;
    cursor: default;
}

.player .playing-song .song-name {
    font-weight: bold;
}

.player .song-progress {
    display: flex;
    user-select: none;
    cursor: default;
}

.player .song-progress .song-timebar {
    flex: 2;
    position: relative;
}

.song-progress .song-current-time {
    color: #126dcc;
}

.song-progress .song-total-time {
    color: rgba(18, 109, 204, 0.47);
}

.song-timebar .timebar-background, .song-timebar .timebar {
    height: 2px;
    min-width: calc(100% - 16px);
    position: absolute;
    top: 9px;
    left: 8px;
}
.song-timebar .timebar-background span {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}
.song-timebar .timebar span {
    display: block;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgba(18,110,205,1) 0%, rgba(199,20,0,1) 100%);
}