.profiles-list {
  padding: 0 25px;
  width: 100%;
  background: #1d1c1e;

  user-select: none;
  cursor: default;
}

.profiles-list h2 {
  color: #FFF;
  font-size: 19px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
