.profile-add {
    color: #e8e8e8;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    padding: 10px 20px;
}

.profile-add .form-group {
  margin: 0 auto 15px;
  min-width: 250px;
  max-width: 300px;
}

.profile-add .form-actions {
  padding: 0 15px;
  position: relative;
}

.profile-add .form-actions .btn-save {
  border: 0;
  background: linear-gradient(45deg, rgba(137,7,197,1) 0%, rgba(199,20,0,1) 100%);
  color: #e6e4e4;
  transition: transform 0.25s;
  outline: none;
}

.profile-add .form-actions .btn-save:active {
  transform: scale(0.9);
  outline: none;
}

.profile-add .form-actions .btn-cancel {
  position: absolute;
  right: 15px;
  bottom: 0;
  background: #6b6b6b;
  color: rgb(51, 51, 51);
  opacity: .5;
  transition: opacity 0.25s;
  outline: none;
}

.profile-add .form-actions .btn-cancel:hover {
  opacity: 1;
  color: rgb(51, 51, 51);
}

.profile-add .form-actions .btn-cancel:active {
  transform: scale(0.9);
  outline: none;
}