.profile {
  /* border: 1px solid #187fa1; */
  padding: 0;
  /*background: #bbe2e9;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: .9;
  transition: opacity .25s ease-in-out, box-shadow .25s ease-in-out;

  box-shadow: 0px 0px 1px #b1b1b1;

  /* From Bootstrap */
  position: relative;
  min-height: 1px;
  width: 49%;
  float: left;

  user-select: none;
  cursor: default;
}

.profile:hover {
  opacity: 1;
  box-shadow: 0px 0px 1px #b1b1b1;
}

.profile:nth-of-type(1) {
  margin-right: 2%;
}

.profile header {
  /*background: #125069;*/
  background: #81A1C1;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.profile .content {
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;
}

.profile .actions {
  padding: 0 10px 10px;
}

.profile .actions .btn-danger {
  float: right;
  margin-top: 5px;
}

.dark-theme .profile {
  box-shadow: none;
}

.dark-theme .profile header {
  background: #5E81AC;
  color: #fff;
}

.dark-theme .profile .content {
  background: #4C566A;
  color: #E5E9F0;
}

.dark-theme .profile .actions {
  background: #4C566A;
}
