.profile {
  /* border: 1px solid #187fa1; */
  padding: 0;
  margin: 0 0 10px 0;
  /*background: #bbe2e9;*/
  min-width: 100%;

  border-top: 1px solid #efefef;
  border-image: linear-gradient(to right, rgba(18,110,205,1) 0%, rgba(199,20,0,1) 100%);
  border-image-slice: 1;

  /* From Bootstrap */
  position: relative;
  min-height: 1px;

  -webkit-font-smoothing: antialiased;
}

.profile:nth-of-type(1) {
  margin-right: 2%;
}

.profile header {
  /* background: rgba(18,110,205,1); */
  background: #222326;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.profile .content {
  padding: 5px 10px;
  background: #222326;
  color: rgba(255, 255, 255, .7);
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.profile .actions {
  padding: 0 10px 10px;
  background: #222326;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile .actions .btn-get-music {
  border: 0;
  background: linear-gradient(45deg, rgba(137,7,197,1) 0%, rgba(199,20,0,1) 100%);
  color: #e6e4e4;
  transition: all 0.25s;
}
.profile .actions .btn-get-music:hover {
  transform: scale(1.05);
}
.profile .actions .btn-get-music:active {
  transform: scale(0.98);
}

.profile .actions .btn-trash {
  float: right;
  margin: 12px -3px 0 0;
  background: none;
  border: 0;
  font-size: 12px;
  color: rgba(255, 255, 255, .8);
  opacity: .4;
  transition: opacity .25s ease-in-out;
}

.profile .actions .btn-trash:hover {
  opacity: 1;
}

.profile .actions .btn-trash:active {
  transform: scale(0.92);
}