.profiles-list {
  padding: 0 25px;
  width: 100%;
  background: #1d1c1e;

  user-select: none;
  cursor: default;
}

.darwin .profiles-list {
  padding-top: 12px;
}

.profiles-list h2 {
  color: #FFF;
  font-size: 19px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

.profiles-list .btn-add {
  transition: color .25s;
  -webkit-app-region: no-drag;
}

.profiles-list .btn-add:hover {
  color: #c231b6;
}

.profiles-list .btn-add:active {
  transform: scale(0.9);
}

.profiles .no-profile {
  -webkit-font-smoothing: antialiased;
  margin-top: 50px;
  padding: 0 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.profiles .no-profile .btn-create {
  border: 0;
  background: linear-gradient(45deg, rgba(137,7,197,1) 0%, rgba(199,20,0,1) 100%);
  color: #e6e4e4;
  transition: all 0.25s;
  -webkit-app-region: no-drag;
}

.profiles .no-profile .btn-create:active {
  transform: scale(0.9);
}