.songs-list {
    width: 100%;
}

.songs-list .play-cell {
    width: 45px;
}

.songs-list tr:hover {
    background-color: rgba(255, 255, 255, .02);
}

.songs-list .current-song {
    font-weight: bold;
}

.songs-list td {
    padding: 3px 0;
}

.songs-list .play-cell button {
    background: none;
    border: 0;
    padding-left: 15px;
    color: #9a0b8f;
}

.song-playing-icon {
    position: relative;
    margin: 0 auto;
    height: 15px;
    vertical-align: bottom;
}

.song-playing-icon .bar {
    height: 4px;
    width: 3px;
    margin-right: 2px;
    border-radius: 3px;
    background: #da2a5e;
    display: inline-block;
    animation: load 2s ease-in-out infinite;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.song-playing-icon .bar-two {
    animation-delay: 0.1s;
    animation: load2 2s ease-in-out infinite;
    left: 20px;
}

.song-playing-icon .bar-three {
    animation-delay: 0.6s;
    left: 25px;
}

.song-playing-icon.paused .bar {
    animation: none;
    height: 2px;
}

.songs-list .title-cell {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500
}

.songs-list .duration-cell {
    width: 70px;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 10px;
    color: rgba(255, 255, 255, .2);
    font-weight: 300;
}

@keyframes load {
	0%,
	100% {
		/* transform: scaleY(1); */
        /* background: #03A9F4; */
        height: 13px;
	}
	16.67% {
		/* transform: scaleY(1.4); */
        /* background: #FF5722; */
        height: 10px;
	}
	33.33% {
		/* transform: scaleY(1); */
        /* background: #FF5252; */
        height: 12px;
	}
	50% {
		/* transform: scaleY(1.6); */
        /* background: #E91E63; */
        height: 7px;
	}
	66.67% {
		/* transform: scaleY(1); */
        /* background: #9C27B0; */
        height: 11px;
	}
	83.34% {
		/* transform: scaleY(1.5); */
        /* background: #673AB7; */
        height: 7px;
	}
}

@keyframes load2 {
	0%,
	100% {
		/* transform: scaleY(1); */
        /* background: #03A9F4; */
        height: 15px;
	}
	16.67% {
		/* transform: scaleY(1.8); */
        /* background: #FF5722; */
        height: 8px;
	}
	33.33% {
		/* transform: scaleY(1); */
        /* background: #FF5252; */
        height: 13px;
	}
	50% {
		/* transform: scaleY(1.5); */
        /* background: #E91E63; */
        height: 15px;
	}
	66.67% {
		/* transform: scaleY(1); */
        /* background: #9C27B0; */
        height: 6px;
	}
	83.34% {
		/* transform: scaleY(1.2); */
        /* background: #673AB7; */
        height: 11px;
	}
}