.table-style .task {
  display: table-row;
  border-bottom: 1px solid #ccc;
  user-select: none;
  cursor: default;
}

.table-style .task:hover {
  background: rgba(0, 0, 0, .02)
}

.table-style .task-info {
  display: table-cell;
  padding: 10px 5px;
}

.card-style .task {
  break-inside: avoid;
  page-break-inside: avoid;
  margin-bottom: 14px;
  margin-top: 1px;
  box-shadow: 0px 0px 1px #b1b1b1;
  display: inline-block;
  width: 100%;
  font-weight: 200;
  user-select: none;
  cursor: default;
}

.card-style .task .task-title {
  word-break: break-all;
  /*background: #f3f3f3;*/
  background: #E5E9F0;
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.task .task-title .status-icon {
  margin-right: 2px;
}

.task-options-button {
  display: block;
  float: right;
  color: #88C0D0;
  font-size: 19px;
  /*letter-spacing: -6px;*/
  margin-top: 2px;
}

.task-options-button:hover {
  color: #81A1C1;
}

.task-progress-bar {
  height: 3px;
  /*background: #516390;*/
  background: #5E81AC;
}

.task-content {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

.task-content a {
  color: #88C0D0;
  font-weight: bold;
}

.task-content a:hover {
  color: #5E81AC;
}

.task-content.content-more {
  max-height: 115px;
  padding-top: 0;
  padding-bottom: 0;
}

.task.toggled .task-content.content-more {

}

.task-size {
  min-width: 80px;
}

.task-progress {
  min-width: 78px;
}

.task-info-row.row {
  margin: 0;
}

.task-info-row .task-info {
  width: 50%;
  float: left;
}

.task-info-row .task-info:nth-child(2) {
  text-align: right;
}

.dark-theme .card-style .task {
  background: #4C566A;
  color: #E5E9F0;
  border: none;
  box-shadow: none;
}

.dark-theme .card-style .task .task-title {
  background: #5E81AC;
  color: #fff;
}

.dark-theme .task-progress-bar {
  background-color: #8FBCBB;
}

.dark-theme .task-content {

}

.dark-theme .task-content.content-more {
  padding: 0 10px 10px 10px;
}
