.tasks-list-filters {

}

.tasks-list-filters::after {
  content: '';
  display: table;
  clear: both;
}

.tasks-list-filter {
  margin-bottom: 15px;
  float: left;
}

.tasks-list-search {
  max-width: 250px;
  float: right;
}

.tasks-list-search .glyphicon-remove {
  cursor: pointer;
  pointer-events: all;
}
