@import '~sass-material-colors';

// Material colors:
// red, pink, purple, deep-purple, indigo, blue, light-blue, cyan, teal, green, light-green, lime, yellow, amber, orange, deep-orange, brown, grey, blue-grey

$material-color-names: ('red', 'pink', 'purple', 'deep-purple', 'indigo', 'blue', 'light-blue', 'cyan', 'teal', 'green', 'light-green', 'lime', 'yellow', 'amber', 'orange', 'deep-orange', 'brown', 'grey', 'blue-grey');

.material-box-shadow-1 {
    -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}
.material-box-shadow-1-half {
    -webkit-box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2)
}
.material-box-shadow-2 {
    -webkit-box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3)
}
.material-box-shadow-3 {
    -webkit-box-shadow:0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3)
}
.material-box-shadow-4,.modal {
    -webkit-box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3)
}
.material-box-shadow-5 {
    -webkit-box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3);
    box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3)
}

.darwin {
    .theme-material {
        .asclient {
            padding-top: 0;
        }
        .artists-list-container {
            padding-top: 0;
        }
    }
}


@each $material-color in $material-color-names {

.theme-material.#{$material-color} {

    .profiles-list {
        background: #DFDFDF;
        padding: 0;

        h2 {
            @extend .material-box-shadow-3;
            position: relative;
            margin: 0;
            padding: 10px 5px 16px 27px;
            background: material-color($material-color, '500');

            &::before {
                content: '';
                display: block;
                height: 23px;
                background: material-color($material-color, '700');
                margin: -10px -5px 20px -27px;
            }

            .btn-add {
                @extend .material-box-shadow-2;
                position: absolute;
                z-index: 800;
                padding: 11px 0 0 0;
                top: 48px;
                right: 26px;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                background: material-color($material-color, '900');

                .glyphicon {
                    font-size: 31px;
                    color: #fff;
                    font-family: sans-serif;
                }
            }
        }

        .profiles {
            padding: 7px;
        }

        .profile {
            @extend .material-box-shadow-1;
            border: 0;

            header {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }


            .actions {
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }

    .list-container {
        background: #FFF;
        overflow: hidden;

        header {
            @extend .material-box-shadow-3;
            background: material-color($material-color, '500');

            &::before {
                content: '';
                display: block;
                height: 23px;
                background: material-color($material-color, '700');
            }

            .list-title {
                padding: 12px 17px;
                font-weight: 500;

                button {
                    padding: 0;
                    height: 32px;
                    margin-right: 35px;
                }
                .glyphicon {
                    color: #fff;
                }
            }

            .list-subtitle {
                position: absolute;
                top: -2px;
                left: 0;
                right: 0;
                text-align: right;
                color: #fff;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .content {
            overflow-y: auto;
            height: calc(100% - 79px); // 79px = header height
        }

        .list-item {
            padding: 15px 16px;
            border: none;
            border-bottom: 1px solid #EBEBEB;

            button {
                color: #212121;
                padding: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                .sub-content {
                    display: block;
                    margin-top: -3px;
                    color: #757575;
                    font-size: 16px;
                }
            }
        }
    }

    .albums-list-container {
        header {
            .list-subtitle {
                display: none;
            }
        }
        .content {
            height: calc(100% - 77px);
        }

        .albums-list {
            .list-item {
                padding: 14px 16px;
            }
        }
    }

    .songs-list {

        li {
            border-bottom: 1px solid #EBEBEB;
        }

        .play-cell {
            padding: 7px 0;

            .song-playing-icon {
                margin-top: 7px;

                .bar {
                    background: material-color($material-color, '300');
                }
            }

            button {
                color: material-color($material-color, '300');
            }

            .glyphicon {
                font-size: 18px;
            }
        }

        .title-cell {
            color: #212121;
            padding: 14px 5px 14px 27px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        .duration-cell {
            color: #757575;
            padding: 14px 10px;
            font-size: 13px;
        }
    }

    .player-container {
        z-index: 800;
    }

    .player {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0px;
        border: 0;
        background: material-color($material-color, '700');
        box-shadow: 0 -3px 3px rgba(0,0,0,0.34);

        .controls {
            order: 4;
            padding: 6px 0;

            .btn-previous, .btn-next, .btn-play {
                height: 30px;
                width: 30px;
                color: #fff;
                margin: 0 15px;
                border-radius: 0;
                background: none;
                font-size: 16px;
            }

            .btn-play {
                border: 0;
                padding: 0;

                &:hover {
                    border: 0;
                    box-shadow: none;
                }

                .glyphicon {
                    color: #fff;
                }
            }
        }

        .playing-song {
            color: #fff;
            order: 1;
            background: material-color($material-color, '800');
            margin: 0 0;
            padding: 6px 15px;

            .song-name {
                display: block;
                font-size: 12px;
                font-weight: 700;
            }

            .song-artist {
                display: block;
                font-size: 11px;
            }
        }

        .song-progress {
            order: 2;
            position: relative;
            height: 14px;

            .song-current-time, .song-total-time {
                position: absolute;
                top: -30px;
                color: rgba(255, 255, 255, .8);
                font-size: 11px;
                -webkit-font-smoothing: antialiased;
            }

            .song-current-time {
                left: 8px;
            }

            .song-total-time {
                right: 8px;
            }

            .song-timebar {
                .timebar {
                    span {
                        background: #fff;
                    }
                }
            }
        }
    }
}

}